@import "tailwindcss";

:root {
  --background: #fffffe;
/*  --foreground: #171717;*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
}

@theme {
  --color-background: #fffffe;
  --color-headline: #272343;
  --color-text: #2d334a;
  --color-turqoise-900: hsl(177, 51%, 18%)
  --color-turqoise-800: hsl(177, 51%, 26%);
  --color-turqoise-700: hsl(177, 51%, 34%);
  --color-turqoise-600: hsl(177, 51%, 42%);
  --color-turqoise-500: hsl(177, 51%, 50%);
  --color-turqoise-400: hsl(177, 51%, 58%);
  --color-turqoise-300: hsl(177, 51%, 66%);
  --color-turqoise-200: hsl(177, 51%, 74%);
  --color-turqoise-100: hsl(177, 51%, 82%);
  --color-turqoise-50: hsl(177, 51%, 90%);
  --color-gold-900: hsl(51, 100%, 18%);
  --color-gold-800: hsl(51, 100%, 26%);
  --color-gold-700: hsl(51, 100%, 34%);
  --color-gold-600: hsl(51, 100%, 42%);
  --color-gold-500: hsl(51, 100%, 50%);
  --color-gold-400: hsl(51, 100%, 58%);
  --color-gold-300: hsl(51, 100%, 66%);
  --color-gold-200: hsl(51, 100%, 74%);
  --color-gold-100: hsl(51, 100%, 82%);
  --color-gold-50: hsl(51, 100%, 90%);
  --color-gray-900: hsl(245, 10%, 18%);
  --color-gray-800: hsl(245, 10%, 26%);
  --color-gray-700: hsl(245, 10%, 34%);
  --color-gray-600: hsl(245, 10%, 42%);
  --color-gray-500: hsl(245, 10%, 50%);
  --color-gray-400: hsl(245, 10%, 58%);
  --color-gray-300: hsl(245, 10%, 66%);
  --color-gray-200: hsl(245, 10%, 74%);
  --color-gray-100: hsl(245, 10%, 82%);
  --color-gray-50: hsl(245, 10%, 90%);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  outline: none;
}